body
{
	background-image: url('https://cdn.discordapp.com/attachments/523456019779682359/637980853242298388/grand-theft-auto-v-mods-cars-c6.jpg');
    background-size: cover;
    background-position: center;
}

#logo
{
    width: 100%;
    height: 110%;
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.log
{
    color: transparent;
    position: absolute;
    left: 20px;
    top: 20px;
}

.log-top-right
{
    top: 20px;
    right: 20px;
    text-align: right;
    display: none;
}

.info {
    width: 7.5%;
    border-radius: 4px;
    padding: 12px;
    color: white;
    font-family: "Roboto", sans-serif;
    float: left;
}

.front-bar1 {
    position: absolute;
    left: 0%;
    right: 50%;
    bottom: 20%;
    width:20%;
    border-radius: 30px;
	background: #333;
	color:#fff;
	padding:20px;
    box-sizing: border-box;
    border: 3px solid red;
    padding-left: 60px;
}

.front-bar2 {
    position: absolute;
    left: 80%;
    right: 50%;
    bottom: 20%;
    width:20%;
    border-radius: 30px;
	background: #333;
	color:#fff;
	padding:20px;
    box-sizing: border-box;
    border: 3px solid red;
    padding-left: 60px;
}

.front-bar3 {
    position: absolute;
    left: 80%;
    right: 50%;
    bottom: 35%;
    width:20%;
    border-radius: 30px;
	background: #333;
	color:#fff;
	padding:20px;
    box-sizing: border-box;
    border: 3px solid red;
    padding-left: 60px;
}

.front-bar4 {
    position: absolute;
    left: 0%;
    right: 50%;
    bottom: 35%;
    width:20%;
    border-radius: 30px;
	background: #333;
	color:#fff;
	padding:20px;
    box-sizing: border-box;
    border: 3px solid red;
    padding-left: 60px;
}

.front-bar5 {
    position: absolute;
    left: 37%;
    right: 50%;
    bottom: 36%;
    width:20%;
    border-radius: 4px;
    background: #333;
	color:#fff;
	padding:0px;
    padding-left: 60px;
}

.velkommen {
    position: absolute;
    left: 35%;
    right: 50%;
    bottom: 29%;
    width:30%;
    border-radius: 4px;
	color:#fff;
	padding:0px;
    padding-left: 60px;
}

.velkommen2 {
    position: absolute;
    left: 34.5%;
    right: 50%;
    bottom: 29%;
    width:30%;
    border-radius: 4px;
    background: #333;
	color:#fff;
	padding:0px;
    padding-left: 60px;
}

.loading-container
{
    position: absolute;
    left: 37%;
    right: 44.8%;
    bottom: 33%;


    z-index: 5;

    color: #fff;

    font-family: Arial;

}

.loading-labels
{
    margin: 5px 3px 12px 2px;
    padding: 5px;
    text-align: center;
    position: relative;
    display: inline;
    white-space: nowrap;
}

.loading-labels div
{
    display: none;
    text-align: left;
    font-size: 20px;
    position: relative;
}

.loading-bar-container
{
    width: 124.5%;
    background-color: rgba(140, 140, 140, .9);
    height: 20px;
        background-color: #414040;
    border-radius: 16px;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
}

.loading-bar
{
    width: 0%;
    height: 20px;
    background-size: 30px 30px;      
    display: none;
    transition: width 0.3s;
    transition-timing-function: ease-out;
}

.bgcolor-first 
{
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
    background-color: #84D0FF;
}

.bgcolor-second 
{
    background-color: #58B5EF;
}

.bgcolor-third 
{
    background-color: #349BDB;
}

.bgcolor-fourth 
{
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
    background-color: #0B80C4;
}


.color-first 
{
    color: white;
	text-shadow: 2px 2px 4px #000000;
}

.color-second 
{
    color: white;
	text-shadow: 2px 2px 4px #000000;
}

.color-third 
{
    color: white;
	text-shadow: 2px 2px 4px #000000;
}

.color-fourth 
{
    color: white;
	text-shadow: 2px 2px 4px #000000;
}



#log
{
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    font-size: 0.80em;
    margin: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    position:fixed;
    right:0;
    bottom:0;
}